.btnGold{
    background-color:  map-get($map:$paleta,$key:'colorGold');
    font-family: $fontMain;
    color:  map-get($map:$paleta,$key:'colorDark');
    font-size: $textMd;
    font-weight: 600;
    &:hover{
        color: map-get($map:$paleta,$key:'colorIvory');
        background-color: map-get($map:$paleta,$key:'colorSilver');
    }
}

.btnForm{
    @extend .btnGold;
    border-radius: 15px;
}

.textCenter{
    text-align: center;
}

.textGold{
    color:  map-get($map:$paleta,$key:'colorGold');
}

.textSilver{
    color:  map-get($map:$paleta,$key:'colorSilver');
}

.textIvory{
    color:  map-get($map:$paleta,$key:'colorIvory');
    @include texto($textMd, 2.5rem, $fontMain);
    &:hover{
        color: map-get($map:$paleta,$key:'colorDark');
        font-weight: 600;
    }
}

.textSize{
    font-size: $textMd;
}

.textSize2{
    font-size: 1.3rem;
}

.bgBlack{
    background-color:  map-get($map:$paleta,$key:'colorDark');
}

.bgGold{
    background-color:  map-get($map:$paleta,$key:'colorGold');
}

.bgSilver{
    background-color:  map-get($map:$paleta,$key:'colorSilver');
}

.carrito{
    margin-right: 10px;
}

#imgResp{
    width: 50%;
    height: auto;
    @media (max-width: 768px){
        width: 75%;
        height: auto;
    }
}

#logo{
    padding: 0px;
    width: 50%;
    height: auto;
    margin: 0px;
}